.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #116877;
  height: 100px;
  padding: 20px;
  color: white;
}

.RPSSelection {
  background-color: #AED6F1;
  height: 150px;
  width: 150px;
  padding: 20px;
  font: serif;
  font-size: large;
  color: black

}

.Currentresults {
  background-color: #116877;
  padding: 20px;
  font-size: medium;
  color: white;
}

.Subheadings {
  font-size: large;
  color: #0D4A53;
  font-style: underline;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
